<<<<<<< HEAD
.home-banner {
    height: 240px;
}

.map {
    width: 100%;
    height: 400px;
=======
#address .map {
    width: 100%;
    height: 450px;
>>>>>>> 8e23e2ed528adde9ef439fc3c4741a993be59076
    border: 0;
}

#message {
    height: 80px !important;
}
<<<<<<< HEAD

.select-wrapper .dropdown-content li>a,
.select-wrapper .dropdown-content li:not(li[disabled])>span {
    color: #3d85c6;
}

#contact_form {
    position: relative;
}

@media (max-width: 992px) {
    .home-banner {
        height: 200px;
    }

    #contact_form {
        width: 80%;
        margin: 1rem 10% 2rem 10%;
    }
}

@media (max-width: 600px) {
    .home-banner {
        height: 200px;
    }

    .map {
        height: 240px;
    }

    #contact_form {
        width: 100% !important;
        margin-left: 0;
=======
.dropdown-content li>a, .dropdown-content li>span {
    color: #3d85c6;
}
@media (max-width: 600px) {
    #address .map {
        height: 250px;
>>>>>>> 8e23e2ed528adde9ef439fc3c4741a993be59076
    }
}