.card .card-action button {
    visibility: hidden;
}

.card:hover .card-action button {
    visibility: visible;
}

.modal.bottom-sheet {
    max-height: 60%;
}

.border-radius-8.card .card-action:last-child {
    border-radius: 8px;
}