.home-banner {
  max-height: 240px;
}

li.collection-item {
  position: relative !important;
  padding-left: 40px !important;
}

li.collection-item i {
  position: absolute !important;
  left: 10px !important;
}


.container p {
  text-align: justify;
}

.carousel .carousel-item {
  opacity: 1 !important;
  width: 400px;
}

@media (min-width: 600px) {

  .flow-text li,
  .flow-text p {
    font-size: 1.125rem;
  }
}