.home-banner {
<<<<<<< HEAD
    height: 240px;
}
.image-wrapper {
    max-height: 200px;
    overflow: hidden;
}
.modal-back-image {
    width: calc(100% + 20px) !important; 
    object-fit: cover;
    height: 220px;
    object-position: center;
    -ms-filter: brightness(50%) blur(2px);
    -webkit-filter: brightness(50%) blur(2px);
    filter: brightness(50%) blur(2px);
    margin: -10px;
}

@media (max-width: 992px) {
    .home-banner {
        height: 200px;
    }
}

=======
    height: 500px;
}
@media (max-width: 992px) {
    .home-banner {
        height: 300px;
    }
}
>>>>>>> 8e23e2ed528adde9ef439fc3c4741a993be59076
@media (max-width: 600px) {
    .valign-wrapper {
        display: block;
    }
<<<<<<< HEAD

    .home-banner {
        height: 160px;
=======
    .home-banner {
        height: 200px;
>>>>>>> 8e23e2ed528adde9ef439fc3c4741a993be59076
    }
}