#footer,
.sidenav .top-banner {
    background-size: cover;
    background-blend-mode: soft-light
}

article,
div,
figure,
footer,
header,
section {
    box-sizing: border-box
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
i,
p,
span,
strong {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none
}

nav {
    color: #444;
    background-color: #fff
}

#about_dropdown li:active,
#about_dropdown li:hover,
#service_dropdown li.active,
#service_dropdown li:hover,
nav ul a:hover {
    background-color: initial !important
}


a {
    color: #3d85c6 !important
}

.hover-text-primary:hover {
    color: #3d85c6 !important
}

#about_dropdown li a,
#service_dropdown li a {
    color: #444;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.waves-effect.waves-primary .waves-ripple {
    background-color: rgba(61, 133, 198, .4)
}

.brand-logo,
nav ul li a {
    color: #444 !important
}

.input-field .prefix.active,
.input-field input:focus+label,
.input-field textarea:focus+label {
    color: #3d85c6 !important
}

.brand-logo h1 {
    font-size: 2.1rem;
    margin: 0;
    display: inline;
    line-height: 56px
}

.brand-img {
    padding-left: 16px;
    padding-right: 16px;
    height: 50px;
    margin-top: 6px;
    margin-bottom: -12px
}

#page_loader {
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 1000000
}

#page_loader>div {
    max-width: 300px;
    max-height: 300px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto
}

#page_loader>div>img {
    max-width: 100px
}

.avatar-l,
.avatar-m,
.avatar-s {
    object-fit: cover;
    object-position: center;
    border-radius: 50%
}

.image-triggerer {
    cursor: pointer;
    transition: .3s
}

.avatar-s {
    height: 50px;
    width: 50px;
    margin-top: 6px;
    margin-bottom: -18px
}

.avatar-m {
    height: 100px;
    width: 100px
}

.avatar-l {
    height: 150px;
    width: 150px
}

.avatar-xl {
    height: 200px;
    width: 200px
}

.bottom-0 {
    bottom: 0
}

.sidenav .top-banner {
    background-color: #444;
    background-image: url(../images/back_banner_x600.webp);
    background-position: center;
    height: 150px
}

.sidenav {
    height: 100%;
    padding-bottom: 0
}

.sidenav .top-banner .user.dropdown-trigger>div:first-child {
    height: 50px
}

.nav-wrapper li,
.nav-wrapper li a {
    outline: 0 !important;
    box-shadow: none !important
}

hr.short-border {
    border: 2px solid #3d85c6;
    width: 100px;
    margin: 0 auto
}

.home-banner {
    width: 100%;
    object-fit: cover;
    object-position: center;
    max-height: 240px
}

section.card-panel {
    margin: 2rem
}

@media (max-width:600px) {
    section.card-panel {
        margin: 1rem
    }
}

.btn {
    text-transform: initial;
    letter-spacing: .25px;
    font-weight: 500;
    border-radius: 4px
}

.btn-large:hover,
.btn-small:hover,
.btn:hover {
    background-color: #ddd
}

.btn-primary,
.btn.bg-primary:hover {
    background-color: #3d85c6
}

.card-panel {
    border-radius: 8px
}

.progress {
    background-color: #bbdeff;
    height: 6px
}

.progress-holder {
    border-radius: 8px 8px 0 0;
    margin: 0 0 -16px;
    overflow: hidden;
    height: 16px
}

.progress-holder .progress {
    margin: 0;
    z-index: 4
}

.prevent-overlay {
    background-color: rgba(255, 255, 255, 0.25);
    position: absolute;
    z-index: 2;
    cursor: wait
}

.input-field input:focus,
.input-field textarea:focus {
    border-bottom: 1px solid #3d85c6 !important;
    box-shadow: 0 1px 0 0 #3d85c6 !important
}

.serviceDropDownContainer .dropdown-content {
    transform: scaleY(1) !important;
    width: 100% !important
}

.userDropDownContainer .dropdown-content {
    width: 100% !important
}

#mobile-sidenav .dropdown-content li.disabled a,
.nav-wrapper .dropdown-content li.disabled a {
    cursor: default !important;
    color: #888 !important
}

#mobile-sidenav .dropdown-content li.disabled:hover,
.nav-wrapper .dropdown-content li.disabled:hover {
    background-color: transparent !important
}

div.serviceDropDownContainer .dropdown-content li a {
    text-align: center
}

.input-field button {
    margin-top: -45px
}

.flow-text li,
.flow-text p {
    font-size: 1rem
}

#footer {
    background-image: url(../images/footer_x600.webp);
    background-position: top;
    background-color: #181820
}

#footer a i.at-symbol {
    font-size: 14px
}

#footer.visible {
    background-image: url(../images/footer.webp)
}

#footer .input-field label {
    color: #aaa
}

#footer .input-field input {
    color: #fff
}

#footer a.btn img,
#footer a.btn svg {
    margin: -6px -12px
}

#footer a.btn svg {
    width: 24px;
    height: 24px
}

.facebook:hover {
    background-color: #3b5998
}

.linkedin:hover {
    background-color: #0077b5
}

.twitter:hover {
    background-color: #1da1f2
}

.instagram:hover {
    background-color: #e1306c
}

footer .left.shift-left {
    width: 50%;
    padding-left: 5rem
}

@media (min-width:600px) {

    .flow-text li,
    .flow-text p {
        font-size: 75%
    }
}

@media (max-width:600px) {
    .scrollable {
        height: calc(100vh - 56px)
    }

    nav .brand-logo {
        left: 40px;
        transform: none;
        padding-left: 1rem
    }

    nav .brand-img {
        display: none
    }

    footer .right {
        margin: 1rem 5rem
    }
}

@media (max-width:400px) {
    .sidenav {
        width: 240px
    }

    .col.s12 {
        padding: 0
    }
}

@media (max-width:992px) {
    .dropdown-content {
        position: static
    }

    footer .left.shift-left {
        width: 100%;
        padding-left: 0
    }
}

@media (min-width:992px) {
    .serviceDropDownContainer .dropdown-content li {
        clear: none
    }
}

@media (orientation:landscape) {
    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
        background-color: transparent
    }

    ::-webkit-scrollbar-thumb {
        background-color: #3d85c6
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: #3775ac
    }

    ::-webkit-scrollbar-thumb:active,
    ::-webkit-scrollbar-thumb:focus {
        background-color: #2a577e
    }

    ::-webkit-scrollbar-track {
        background-color: transparent
    }
}