<section class="p-4 border-top-1 grey-border white-text mb-0 border-lighten-1" id="footer">
    <div class="row mb-0">
        <div class="col s12 m4">

            <h6 class="mb-2"><b>WAMP Infotech</b></h6>
            <div>Email: <a href="mailto:support@wampinfotech.com" class="grey-text text-lighten-1 fw-500">support@wampinfotech.com</a></div>
            <div class="mb-4">Call Us: <a href="tel:+918376075908" class="grey-text text-lighten-1 fw-500 mr-4">+91-8376075908</a></div>
            <p class="grey-text text-lighten-1">Top 6 26 E White House, <br />Khizarabad Bhagol, Khizrabad, <br />New Delhi, Delhi 110025</p>
            Follow Us: <button class="btn btn-flat waves-effect waves-light waves-circle facebook">
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                    <path fill="#ffffff" d="M17,2V2H17V6H15C14.31,6 14,6.81 14,7.5V10H14L17,10V14H14V22H10V14H7V10H10V6A4,4 0 0,1 14,2H17Z" />
                </svg>
            </button>
            <button class="btn btn-flat waves-effect waves-light waves-circle twitter">
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                    <path fill="#ffffff" d="M22.46,6C21.69,6.35 20.86,6.58 20,6.69C20.88,6.16 21.56,5.32 21.88,4.31C21.05,4.81 20.13,5.16 19.16,5.36C18.37,4.5 17.26,4 16,4C13.65,4 11.73,5.92 11.73,8.29C11.73,8.63 11.77,8.96 11.84,9.27C8.28,9.09 5.11,7.38 3,4.79C2.63,5.42 2.42,6.16 2.42,6.94C2.42,8.43 3.17,9.75 4.33,10.5C3.62,10.5 2.96,10.3 2.38,10C2.38,10 2.38,10 2.38,10.03C2.38,12.11 3.86,13.85 5.82,14.24C5.46,14.34 5.08,14.39 4.69,14.39C4.42,14.39 4.15,14.36 3.89,14.31C4.43,16 6,17.26 7.89,17.29C6.43,18.45 4.58,19.13 2.56,19.13C2.22,19.13 1.88,19.11 1.54,19.07C3.44,20.29 5.7,21 8.12,21C16,21 20.33,14.46 20.33,8.79C20.33,8.6 20.33,8.42 20.32,8.23C21.16,7.63 21.88,6.87 22.46,6Z" />
                </svg>
            </button>
            <button class="btn btn-flat waves-effect waves-light waves-circle linkedin">
                <img src="images/linkedin.svg" style="margin: -6px -12px;">
            </button>
            <button class="btn btn-flat waves-effect waves-light waves-circle instagram">
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                    <path fill="#ffffff" d="M7.8,2H16.2C19.4,2 22,4.6 22,7.8V16.2A5.8,5.8 0 0,1 16.2,22H7.8C4.6,22 2,19.4 2,16.2V7.8A5.8,5.8 0 0,1 7.8,2M7.6,4A3.6,3.6 0 0,0 4,7.6V16.4C4,18.39 5.61,20 7.6,20H16.4A3.6,3.6 0 0,0 20,16.4V7.6C20,5.61 18.39,4 16.4,4H7.6M17.25,5.5A1.25,1.25 0 0,1 18.5,6.75A1.25,1.25 0 0,1 17.25,8A1.25,1.25 0 0,1 16,6.75A1.25,1.25 0 0,1 17.25,5.5M12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9Z" />
                </svg>
            </button>
        </div>
        <div class="col s12 m4 pr-4">
            <h6 class="mb-4"><b>Subscribe to our newsletter!</b></h6>
            <p class="grey-text text-lighten-1">Be the first to avail discounts on new products and know more about our Ready-to-Go Solutions by just
                subcscribing to our newsletter.</p>
            <form class="d-flex">
                <div class="input-field flex-full">
                    <label for="subscribe">Email</label>
                    <input type="email" class="validate" id="subscribe">
                </div>
                <button class="btn btn-flat waves-light bg-primary btn-small mt-4">Subscribe</button>
            </form>
            
        </div>
        <div class="col s12 m4 pl-4">
            <h6 class="mb-4"><b>All you wished to know about the restructured pricing model of WAMP Infotech Services</b></h6>
            <p class="grey-text text-lighten-1">If you have recently used WAMP Infotech services or visited the website, you must have noticed the price restructuring that we just came up with to let our users avail our services</p>
        </div>
    </div>
</section>
<footer class="bg-primary m-0 py-2 px-4">
    <p class="my-1">&copy; Copyright 2017-
        <?=date("y")?> <span class="mx-1">|</span> <b>WAMP Infotech Pvt. Ltd.</b></p>
    <p class="my-1 mb-4 blue-text text-lighten-4">Digital Marketing Company | Web Design &amp; Developement Company</p>

    <a href="javascript:;" class="blue-text text-lighten-4 mr-1">Sitemap</a> &bullet; <a href="javascript:;" class="blue-text text-lighten-4 mx-1">Privacy
        Policy</a> &bullet; <a href="javascript:;" class="blue-text text-lighten-4 ml-1">Terms and Conditions</a>
</footer>

<!-- <section class="px-4 py-2 border-top-1 grey-border white">
    <div class="left">&copy; All rights reserved | <b><a href="tel:9876543210" class="black-text">WAMP
                Infotech</a></b></div>
    <div class="right">Designed and Developed by <a href="mailto:support@wampinfotech.com" class="text-primary"><b>WAMP
                Infotech </b></a></div>
    <br clear="both" />
</section>-->