<footer class="bg-primary m-0 py-2 px-4">
    <div class="left shift-left">
        <p class="my-1">&copy; Copyright 2017-
            <?=date("y")?> <span class="mx-1">|</span> <a href="/" class="white-text"><strong>WAMP Infotech Pvt.
                    Ltd.</strong></a></p>
        <p class="my-1 blue-text text-lighten-4">Digital Marketing Company | Web Design &amp; Development Company</p>
    </div>
    <div class="right my-2 mr-4">
        <a href="sitemap" class="blue-text text-lighten-4 mr-1">Sitemap</a> &bullet; <a href="privacy-policy" class="blue-text text-lighten-4 mx-1">Privacy
            Policy</a> &bullet; <a href="terms-and-conditions" class="blue-text text-lighten-4 ml-1 mr-4">Terms and
            Conditions</a></div>
    <br clear="both" />
</footer>
<!--Start of Tawk.to Script-->
<script>
    var Tawk_API = Tawk_API || {},
        Tawk_LoadStart = new Date();
    (function () {
        var s1 = document.createElement("script"),
            s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/5a65fa6e4b401e45400c49ad/default';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();
</script>
<!--End of Tawk.to Script-->