tr:hover .actions>.pos-abs:first-child {
    display: none;
}

tr:hover .actions>.pos-abs:last-child {
    display: block;
}

.actions>.pos-abs:last-child {
    display: none;
}

.actions>.pos-abs {
    width: 30px;
}

.avatar-icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center
}

tr .actions button {
    visibility: hidden;
}

tr:hover .actions button {
    visibility: visible
}